In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [90]:
train = pd.read_csv("E:\\Kaggle\\Titanic_Project\\Data\\train.csv")
test = pd.read_csv("E:\\Kaggle\\Titanic_Project\\Data\\test.csv")

In [91]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [92]:
test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [93]:
train.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [94]:
train.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [95]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [96]:
train.HomePlanet.value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [97]:
train.Destination.value_counts()

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

In [98]:
train.HomePlanet.mode()

0    Earth
dtype: object

In [99]:
def CleanData(data):
    dropCols = ['Name']
    data = data.drop(dropCols, axis = 1)
    numCols = ["Age", "RoomService", "FoodCourt", "ShoppingMall", "Spa" , "VRDeck"]
    
    for col in numCols:
        data[col].fillna(data[col].median(), inplace = True)
    
    data["HomePlanet"].fillna("Earth", inplace=True)
    data["CryoSleep"].fillna(False, inplace=True)
    data["Cabin"].fillna("G/734/S", inplace=True)
    data["Destination"].fillna("TRAPPIST-1e", inplace=True)
    data["VIP"].fillna(False, inplace=True)
    
    return data

In [100]:
train_c = CleanData(train)
test_c = CleanData(test)

In [107]:
test_c.isna().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Cabin_First     0
Cabin_Middle    0
Cabin_Last      0
dtype: int64

In [103]:
def Cabin_Transform(data):
    cabin = list(data)
    cabin_First = []
    cabin_Middle = []
    cabin_Last = []
    for i in cabin:
        l = str(i).split("/")
        cabin_First.append(l[0])
        cabin_Middle.append(l[1])
        cabin_Last.append(l[2])
    return cabin_First, cabin_Middle, cabin_Last

In [104]:
cabin_list = [train_c['Cabin'], test_c['Cabin']]
for i in range (len(cabin_list)):
    cabin_First, cabin_Middle, cabin_Last = Cabin_Transform(cabin_list[i])
    if i==0:
        train_c.drop('Cabin', inplace = True, axis = 1)
        train_c['Cabin_First'] = cabin_First
        train_c['Cabin_Middle'] = cabin_Middle
        train_c['Cabin_Last'] = cabin_Last
    else:
        test_c.drop('Cabin', inplace = True, axis = 1)
        test_c['Cabin_First'] = cabin_First
        test_c['Cabin_Middle'] = cabin_Middle
        test_c['Cabin_Last'] = cabin_Last

In [105]:
train_c.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Cabin_First,Cabin_Middle,Cabin_Last
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,B,0,P
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,F,0,S
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,A,0,S
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,A,0,S
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,F,1,S

In [106]:
test_c.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Cabin_First,Cabin_Middle,Cabin_Last
0,0013_01,Earth,True,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,G,3,S
1,0018_01,Earth,False,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,F,4,S
2,0019_01,Europa,True,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,C,0,S
3,0021_01,Europa,False,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,C,1,S
4,0023_01,Earth,False,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,F,5,S

In [108]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
leb_b = preprocessing.LabelBinarizer()

cols= ["HomePlanet", "Cabin_First" ,"Cabin_Middle", "Cabin_Last", "Destination", "CryoSleep", "VIP"]
for col in cols:
    train_c[col] = le.fit_transform(train_c[col])
    test_c[col] = le.fit_transform(test_c[col])
    print(f"{col} :{le.classes_}")
train_c["Transported"] = le.fit_transform(train_c["Transported"])

HomePlanet :['Earth' 'Europa' 'Mars']
Cabin_First :['A' 'B' 'C' 'D' 'E' 'F' 'G' 'T']
Cabin_Middle :['0' '1' '10' ... '995' '996' '997']
Cabin_Last :['P' 'S']
Destination :['55 Cancri e' 'PSO J318.5-22' 'TRAPPIST-1e']
CryoSleep :[False  True]
VIP :[False  True]

In [109]:
test_c.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Cabin_First,Cabin_Middle,Cabin_Last
0,0013_01,0,1,2,27.0,0,0.0,0.0,0.0,0.0,0.0,6,820,1
1,0018_01,0,0,2,19.0,0,0.0,9.0,0.0,2823.0,0.0,5,927,1
2,0019_01,1,1,0,31.0,0,0.0,0.0,0.0,0.0,0.0,2,0,1
3,0021_01,1,0,2,38.0,0,0.0,6652.0,0.0,181.0,585.0,2,1,1
4,0023_01,0,0,2,20.0,0,10.0,0.0,635.0,0.0,0.0,5,1029,1

In [110]:
train_c.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Cabin_First,Cabin_Middle,Cabin_Last
0,0001_01,1,0,2,39.0,0,0.0,0.0,0.0,0.0,0.0,0,1,0,0
1,0002_01,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0,1,5,0,1
2,0003_01,1,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,0,0,1
3,0003_02,1,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,0,0,1
4,0004_01,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0,1,5,1,1

In [111]:
train_c.Cabin_First.value_counts()

5    2794
6    2758
4     876
1     779
2     747
3     478
0     256
7       5
Name: Cabin_First, dtype: int64

In [143]:
X = train_c.drop("Transported", axis=1)
y = train_c["Transported"]

In [155]:
train_c.corr()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Cabin_First,Cabin_Middle,Cabin_Last
HomePlanet,1.000000,0.083586,0.034737,0.133577,0.123512,0.211751,0.071454,0.101383,0.055047,0.039824,0.115461,-0.404593,0.010726,0.000636
CryoSleep,0.083586,1.000000,-0.096287,-0.071323,-0.078281,-0.244089,-0.205928,-0.207798,-0.198307,-0.192721,0.460132,0.020613,0.011922,0.023858
Destination,0.034737,-0.096287,1.000000,-0.006771,-0.044707,0.045733,-0.111057,0.024721,-0.055815,-0.073293,-0.108152,0.180763,-0.019041,-0.012979
Age,0.133577,-0.071323,-0.006771,1.000000,0.091863,0.068629,0.127390,0.033148,0.120946,0.099590,-0.074233,-0.239202,-0.000948,0.011621
VIP,0.123512,-0.078281,-0.044707,0.091863,1.000000,0.056566,0.125499,0.018412,0.060991,0.123061,-0.037261,-0.176063,0.008129,-0.008798
RoomService,0.211751,-0.244089,0.045733,0.068629,0.056566,1.000000,-0.015126,0.052337,0.009244,-0.018624,-0.241124,-0.021888,0.007080,-0.006991
FoodCourt,0.071454,-0.205928,-0.111057,0.127390,0.125499,-0.015126,1.000000,-0.013717,0.221468,0.224572,0.045583,-0.315318,0.006709,0.019682
ShoppingMall,0.101383,-0.207798,0.024721,0.033148,0.018412,0.052337,-0.013717,1.000000,0.014542,-0.007849,0.009391,-0.033577,-0.003939,-0.020940
Spa,0.055047,-0.198307,-0.055815,0.120946,0.060991,0.009244,0.221468,0.014542,1.000000,0.147658,-0.218545,-0.214971,0.021997,0.005700
VRDeck,0.039824,-0.192721,-0.073293,0.099590,0.123061,-0.018624,0.224572,-0.007849,0.147658,1.000000,-0.204874,-0.251548,0.004951,-0.009089
Transported,0.115461,0.460132,-0.108152,-0.074233,-0.037261,-0.241124,0.045583,0.009391,-0.218545,-0.204874,1.000000,-0.113992,0.019393,0.101397
Cabin_First,-0.404593,0.020613,0.180763,-0.239202,-0.176063,-0.021888,-0.315318,-0.033577,-0.214971,-0.251548,-0.113992,1.000000,-0.008784,-0.012620
Cabin_Middle,0.010726,0.011922,-0.019041,-0.000948,0.008129,0.007080,0.006709,-0.003939,0.021997,0.004951,0.019393,-0.008784,1.000000,0.035228
Cabin_Last,0.000636,0.023858,-0.012979,0.011621,-0.008798,-0.006991,0.019682,-0.020940,0.005700,-0.009089,0.101397,-0.012620,0.035228,1.000000

## Logistic Regression

In [144]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [145]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [152]:
model = LogisticRegression(random_state=42, max_iter=5000, C=0.5).fit(X_train, y_train)

In [153]:
preds = model.predict(X_test)

In [154]:
from sklearn.metrics import accuracy_score
accuracy_score(preds, y_test)

0.7703032415475776

In [118]:
submission_Preds = model.predict(test_c)

In [119]:
submission_Preds

array([1, 0, 1, ..., 1, 1, 1], dtype=int64)

In [120]:
nump_array = np.array(submission_Preds,dtype='bool')

In [121]:
nump_array

array([ True, False,  True, ...,  True,  True,  True])

In [122]:
df_final = pd.DataFrame({'PassengerId': test_c.PassengerId,
                        'Transported': nump_array})

In [123]:
df_final.to_csv('E:/Kaggle/Titanic_Project/Final1.csv', index=False)

## Random Forest

In [158]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [181]:
param1 = {
    "n_estimators": [i for i in range (10, 800, 10)], 
    "max_depth": [i for i in range (2, 40, 2)],
    "min_samples_leaf" : [i for i in range (15, 40)],
    "min_samples_split" : [i for i in range (5,240)]
}

rc_model = RandomForestClassifier()

In [164]:
param = {
    "n_estimators": [i for i in range (10, 800, 5)], 
    "max_depth": [i for i in range (2, 40, 1)],
    "min_samples_leaf" : [i for i in range (5, 25)],
    "min_samples_split" : [i for i in range (5,240)]
}

rc_model = RandomForestClassifier()

In [182]:
grid = RandomizedSearchCV(estimator=rc_model, param_distributions=param1, cv=10, scoring='accuracy')
grid.fit(X_train, y_train)

RandomizedSearchCV(cv=10, estimator=RandomForestClassifier(),
                   param_distributions={'max_depth': [2, 4, 6, 8, 10, 12, 14,
                                                      16, 18, 20, 22, 24, 26,
                                                      28, 30, 32, 34, 36, 38],
                                        'min_samples_leaf': [15, 16, 17, 18, 19,
                                                             20, 21, 22, 23, 24,
                                                             25, 26, 27, 28, 29,
                                                             30, 31, 32, 33, 34,
                                                             35, 36, 37, 38,
                                                             39],
                                        'min_samples_split': [5, 6, 7, 8, 9, 10,
                                                              11, 12, 13, 14,
                                                              15, 16, 17, 18,
                                                              19, 20, 21, 22,
                                                              23, 24, 25, 26,
                                                              27, 28, 29, 30,
                                                              31, 32, 33, 34, ...],
                                        'n_estimators': [10, 20, 30, 40, 50, 60,
                                                         70, 80, 90, 100, 110,
                                                         120, 130, 140, 150,
                                                         160, 170, 180, 190,
                                                         200, 210, 220, 230,
                                                         240, 250, 260, 270,
                                                         280, 290, 300, ...]},
                   scoring='accuracy')

In [166]:
grid.best_estimator_

RandomForestClassifier(max_depth=28, min_samples_leaf=22, min_samples_split=18,
                       n_estimators=475)

In [162]:
grid.best_params_

{'n_estimators': 30,
 'min_samples_split': 101,
 'min_samples_leaf': 15,
 'max_depth': 24}

In [175]:
grid.best_score_

0.80271642705994

In [186]:
grid.best_score_

0.8039153448509605

In [183]:
rc_model = RandomForestClassifier(**grid.best_params_)

In [184]:
rc_model.fit(X_train, y_train)

RandomForestClassifier(max_depth=16, min_samples_leaf=16, min_samples_split=27,
                       n_estimators=610)

In [187]:
rc_predict = rc_model.predict(X_test)
rc_predict

array([0, 1, 1, ..., 0, 0, 1], dtype=int64)

In [188]:
nump_array = np.array(submission_Preds,dtype='bool')
df_final = pd.DataFrame({'PassengerId': test_c.PassengerId,
                        'Transported': nump_array})

In [189]:
df_final.to_csv('E:/Kaggle/Titanic_Project/Final_RC2.csv', index=False)